.liquid-ether-container {
  position: absolute!important; /* scroll with section */
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  filter: blur(40px);
  opacity: 0.5;
}
