.light-rays-container {
  width: 100%;
  height: 100%;
  position: absolute; /* scroll with section */
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 0; /* keep behind content */
  overflow: hidden;
}
